# Next.js
.next/
out/
.turbo/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files
.env
.env.*.local

# OS / Editor
.DS_Store
.vscode/
.idea/

# Build / cache
coverage/
.vercel/
/lib/generated/prisma
